---
Checks: '*,-modernize-use-trailing-return-type,-fuchsia-default-arguments-calls,-llvmlibc-*,-fuchsia-overloaded-operator,-google-explicit-constructor,-hicpp-special-member-functions,-cppcoreguidelines-avoid-magic-numbers,-hicpp-explicit-conversions,-cppcoreguidelines-special-member-functions,-google-readability-todo,-fuchsia-default-arguments-declarations,-altera-struct-pack-align,-google-runtime-int,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-macro-usage,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-fuchsia-virtual-inheritance'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.ClassMemberSuffix
    value: '_'
